<section class="section">
  <div class="container">
    <h1 class="title">Welcome, <%= current_user.name %>!</h1>
    <h2 class="subtitle">Here are your recently played songs:</h2>

    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
        </tr>
      </thead>
      <tbody>
        <% @recent_plays.each do |play| %>
          <tr>
            <td><%= play.song.name %></td>
            <td><%= play.song.artist.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>