<% flash.each do |type, message| %>
  <div class="notification is-<%= type %>" data-controller="notification">
    <button class="delete" data-action="click->notification#close"></button>
    <%= message %>
  </div>
<% end %>
