<nav class="navbar" role="navigation" aria-label="main navigation" data-controller="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= user_signed_in? ? authenticated_root_path : unauthenticated_root_path %>">
      Music Analytics
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-navbar-target="burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <div class="navbar-item">
              <%= current_user.name %>
            </div>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>